{% extends 'base.html' %}

{% block content %}
<h1>Card Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ topp.player }}</span>
    <p>Team: {{ topp.team }}</p>
    <p>Position: {{ topp.position }}</p>
    <p>Highlight: {{ topp.highlight }}</p>
    <p>Year: {{ topp.year }}</p>
    <p>Image: <a href="{{topp.img}}">{{ topp.img }}</a></p>
  </div>
</div>

<div class="card-action">
    <a href="{% url 'topps_update' topp.id %}">Edit</a>
    <a href="{% url 'topps_delete' topp.id %}">Delete</a>
</div>
<div class="card">
    <form action="{% url 'add_offer' topp.id %}" method="POST">
        {% csrf_token %}
        {{ offer_form.as_p }}
        <input type="submit" class="btn" value="Add Offer">
    </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Price</th></tr>
      </thead>
      <tbody>
        {% for offer in topp.offer_set.all %}
        <tr>
            <td>{{offer.date}}</td>
            <td>${{offer.price}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ Topp.player }} Prints</h3>
    {% if topp.company.count %}
      {% for c in topp.company.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
            {{ c.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Other Prints :(</h5>
    {% endif %}
  </div>
  <!-- Available companies will come after this line -->
  <div class="col s6">
    <h3>Available Prints</h3>
    {% if company.count %}
      {% for c in company.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
            Printed by {{ c.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_company' topp.id c.id %}" method="post">
              {% csrf_token %}
             
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{topp.player}} Card Prints Available</h5>
    {% endif %}
  </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });


</script>
{% endblock content %}