{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Card Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
            <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Topps Cards Collector</a></li>
        </ul>
        <ul class="right">
            <li><a class="left" href="/topps">View All Topps</a></li>
            <li><a class="left" href="{% url 'company_index' %}">View All Companies</a></li>
            <li><a class="right" href="{% url 'topps_create' %}">Add a Card</a></li>
            <li><a class="right" href="{% url 'company_create' %}">Add a Company</a></li>
            <li><a class="right" href="/about">About</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container row">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2019  &nbsp;</div>
  </footer>
</body>
</html>